@use "../abstract/mixins" as mixins;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: var(--first-color);
  background-color: var(--body-bg-color);
  margin: 2rem 0 0 0;
  transition: 5s ease;
  overflow-x: hidden;

  // Small devices (landscape phones, 576px and up)
  @include mixins.responsive(sm) {
    margin: 5rem 0 0 0;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*=======Scroll bar=======*/

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 2em;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-thumb-hover-color);
}
