//base
@use "./base/reset";
@use "./base/global";

//components
@use "./components/buttons";

//layouts
@use "./layouts/header";
@use "./layouts/footer";

//pages
@use "./pages/home";
@use "./pages/about";
@use "./pages/skills";
@use "./pages/contact";
