@use "../abstract/mixins" as mixins;

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--second-color);
  width: 100%;
  top: 50px;
  padding: 3rem 2rem;
  color: #fff;

  a {
    color: #fff;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1150px;

    /*=======Media query max-width: 768px=======*/
    @include mixins.responsive(md) {
      flex-direction: column;

      .hr {
        width: 100%;
        height: 2px;
        background: rgba(255, 255, 255, 0.1);
        margin: 10px 0 22px;
      }
    }

    .about {
      /*=======Media query max-width: 768px=======*/
      @include mixins.responsive(md) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      h2 {
        font-size: 3em;
        font-weight: 600;
        background: linear-gradient(to top, transparent 0%, #fff 50%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0.8;

        // Small devices (landscape phones, 576px and up)
        @include mixins.responsive(sm) {
          font-size: 2.5em;
        }
      }
      p {
        font-size: var(--normal-font-size);
        font-weight: 300;
        margin-bottom: 30px;
      }
    }

    .info {
      /*=======Media query max-width: 768px=======*/
      @include mixins.responsive(md) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        ul {
          align-items: center;
          flex-direction: column;

          li {
            margin: 5px 0;
          }
        }
      }

      h3 {
        font-size: 1.1em;
        font-weight: 500;
        margin-bottom: 30px;
        text-align: center;
      }

      ul {
        display: flex;
      }

      a {
        margin: 20px;
      }
    }

    .follow {
      display: flex;
      align-items: center;
      flex-direction: column;

      h3 {
        font-size: 1.1em;
        font-weight: 500;
        margin-bottom: 30px;
      }

      ul {
        display: flex;
      }

      a {
        margin: 20px;
        font-size: 1.5em;
      }
    }
  }
}
