/*=======Light/Dark theme button=======*/
.theme-btn {
  z-index: 999999;
  position: fixed;
  right: 0;
  top: 100px;
  background: var(--transparent-color-01);
  backdrop-filter: blur(20px);
  width: 50px;
  height: 50px;
  font-size: 1.2em;
  border-radius: 5px 0 0 5px;
  box-shadow: var(--box-shawdow);
  cursor: pointer;

  .fa-sun,
  .sun .fa-moon {
    display: none;
  }

  .sun .fa-sun {
    display: block;
  }
}

.ScrollToTop-btn {
  z-index: 99999;
  position: fixed;
  right: 0;
  bottom: 20px;
  width: 45px;
  height: 45px;
  background: var(--second-color);
  color: #fff;
  font-size: var(--small-font-size);
  border-radius: 3px;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s ease;
}

.ScrollToTop-btn.active {
  right: 20px;
  pointer-events: all;
  opacity: 1;
}
