@use "../abstract/mixins" as mixins;

/*=======Home section=======*/
.home {
  position: relative;
  max-width: 1250px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem 2rem;
  flex-direction: column;

  .home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    // Small devices (landscape phones, 576px and up)
    @include mixins.responsive(sm) {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
    }

    .home-img {
      position: relative;

      // Small devices (landscape phones, 576px and up)
      @include mixins.responsive(sm) {
        position: relative;
        margin-bottom: 2rem;
        order: -1;
      }

      img {
        width: 75%;
        transform: translate(0, 0);

        // Small devices (landscape phones, 576px and up)
        @include mixins.responsive(sm) {
          width: 100%;
          max-width: 300px;
          transform: translate(0, 0);
        }
      }
    }

    .info {
      // Small devices (landscape phones, 576px and up)
      @include mixins.responsive(sm) {
        width: 100%;
        text-align: left;
        transform: none;
        font-size: 0.9rem;

        h2 {
          font-size: 2rem !important;
          line-height: 2.5rem;
        }

        h3 {
          font-size: 1rem;
          line-height: 1.5rem;
        }

        p {
          font-size: 0.9rem;
          max-width: 100%;
        }
      }

      h2 {
        font-size: 4rem;
        font-weight: 600;
        line-height: 70px;
      }

      h3 {
        color: var(--third-color);
        font-size: 1.34rem;
        font-weight: 600;
        line-height: 50px;
      }

      p {
        color: var(--third-color);
        max-width: 500px;
        font-size: var(--normal-font-size);
      }

      .btn {
        background-color: var(--second-color);
        color: #fff;
        font-size: var(--normal-font-size);
        font-weight: 500;
        display: inline-block;
        margin-top: 25px;
        padding: 20px 30px;
        letter-spacing: 1px;
        border-radius: 10px;

        &:hover {
          background-color: var(--hover-color);
        }
      }
    }

    .media-icons {
      display: flex;
      flex-direction: column;
      margin-left: 40px;

      // Small devices (landscape phones, 576px and up)
      @include mixins.responsive(sm) {
        flex-direction: column;
        position: absolute;
        left: 0;
        bottom: 600px;
        width: 25px;
        margin-left: 0;
        transform: none;
      }

      a {
        color: var(--second-color);
        font-size: 1.5em;
        margin: 10px 0;
      }

      a:hover {
        color: var(--hover-color);
      }
    }
  }
  .scroll-down {
    color: var(--first-color);
    font-size: var(--normal-font-size);
    font-weight: 600;
    margin-top: 30px;

    i {
      color: var(--second-color);
      font-size: 1.2em;
      animation: arrow-down ease 2s infinite;
    }

    @keyframes arrow-down {
      0% {
        transform: translateY(0);
      }
      30% {
        transform: translateY(10px);
      }
    }
  }
}
